{extend name="base/common"}
{block name="body"}

<div class="right_col" role="main">
  <div class="row tile_count">
    <div class="tile_stats_count">
          <div class="count"> 研习会问卷记录 </div>
    </div>

    <div class="x_content">
            <a href="#" data-toggle="popover" title="删除选定的研习会问卷记录">
              <button type="button" class="btn btn-primary" id="yanxihui-del"    > 删除选定记录 </button>
            </a>
            <a href="#" data-toggle="popover" title="清空所有的研习会问卷记录">
              <button type="button" class="btn btn-danger"  id="yanxihui-del-all"> 清空所有记录 </button> 
            </a>
            <a href="#" data-toggle="popover" title="导出选定的研习会问卷记录">
              <button type="button" class="btn btn-success" id="yanxihui-export" > 导出选定记录 </button>
            </a>
            <a href="#" data-toggle="popover" title="导出所有的研习会问卷记录">
              <button type="button" class="btn btn-info" id="yanxihui-export-all"> 导出所有记录 </button>
            </a>
            <a href="{:url('tecsun/yanxihuiSettings')}" data-toggle="popover" title="使用研习会调查问卷之前，先设置该模块。">
              <button type="button" class="btn btn-warning"> 设置调查问卷 </button>
            </a>        
    </div>
  </div>

  <div class="table-responsive">
      <table class="table table-striped jambo_table bulk_action">
        <thead>
          <tr class="headings">
            <th>
              <input type="checkbox" id="check-all" class="flat">
            </th>
            <th class="column-title"> 客户姓名 </th>
            <th class="column-title"> 客观评价 </th>
            <th class="column-title"> 获得奖品 </th>
            <th class="column-title"> 研习会期数 </th>
            <th class="column-title no-link last"><span class="nobr"> 操作 </span>
            </th>
            <th class="bulk-actions" colspan="8">
              <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
            </th>
          </tr>
        </thead>
        
        <tbody>
          {volist name="list" id="vo" mod="2"}
          {eq name="mod" value="0"}
          <tr class="even pointer">
          {else/}
          <tr class="odd pointer">
          {/eq}

            <td class="a-center ">
              <input type="checkbox" class="flat" name="table_records" value="{$vo.id}">
            </td>

            <td class=" "> {$vo.q1}    </td> <!-- 客户姓名 -->
            <td class=" "> {$vo.q6}    </td> <!-- 客户评价 -->
            <td class=" "> {$vo.jiang} </td> <!-- 获得奖品 -->
            <td class=" "> {$vo.qi}    </td> <!-- 哪期客户 -->

            <td class=" last">
              <a href="{:url('Tecsun/yanxihuiDetail',array('id'=>$vo['id']))}" data-toggle="popover" title="查看该条问卷详细信息"> 详情 </a>
              <a href="{:url('Tecsun/wenjuanDel', array('id'=>$vo['id']))}" data-toggle="popover" title="删除该条问卷记录" onclick="if(confirm('确定删除?删除后数据无法恢复。')==false)return false;"> 删除 </a>
            </td>
          </tr>
          {/volist}
        </tbody>
      </table>
      <div class="list-page">{$list->render()}</div>
       
    </div>
    <!-- <div class="container"> -->
      <div class="modal" id="login" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-head">
                    <a href="#" class="close" data-dismiss="modal">×</a>
                    <h4> 批量导入访客 </h4>
                </div>
                <form class="form-horizontal" action="{:url('user/employeeImport')}" method="post" enctype="multipart/form-data">
                  <div class="modal-body">
                      <div class="control-group">
                        <label class="control-label" name="username">Excel：</label>
                        <input type="file" name="excelData" value=""  datatype="*4-50"  nullmsg="请填写产品！" errormsg="不能少于4个字符大于50个汉字"/>
                        <span class="Validform_checktip"></span>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">导入</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
{/block}
{block name="js"}
<script src="__PUBLIC__/static/index/js/tecsun_yanxihui.js"></script>
{/block}
