{extend name="base/common"}
{block name="body"}
<div class="container">
    <div class="yuyuedetail">
        <div>
            <label for="">到访时间</label>
            <input type="text" name="start_time" value="{$list.start_time|date='Y-m-d H:i:s',###}" disabled="disabled">
        </div>
        <div>
            <label for="">员工姓名</label>
            <input type="text" value="{$list.ename}" name="ename" disabled="disabled">
        </div>
        <div>
            <label for="">访客手机</label>
            <input type="text" value="{$list.phone}" name="phone" disabled="disabled">
        </div>
        <div>
            <label for="">邀请人数</label>
            <input type="text" value="{$list['accompanying']?$list['accompanying']:'若干'}" disabled="disabled">
        </div>                  
        <div>
            <label for="">邀请事由</label>
            <input type="text" value="{$list.account}" disabled="disabled">
        </div>
        <div>
            <label for="">见面地址</label>
            <input type="text" value="{$list.address}" disabled="disabled">
        </div>
        <div>
            <label for="">车牌号码</label>
            <input type="text" value="{$list.car_num}" disabled="disabled" >
        </div>
        {eq name="list['status']" value="0"}
        <div class="yuema">
            <a href="{:url('refuse',array('id'=>$list['id']))}" class="hehea blue-btn agree-btn">拒绝邀请</a>
            <a href="{:url('agree',array('id'=>$list['id']))}" class="hehea blue-nobg-btn disagree-btn">同意邀请</a>
        </div>
        {/eq}
        <a href="javascript:void(0)" onclick="WeixinJSBridge.call('closeWindow');" class="hehea return-btn">返回</a>
    </div>
</div>
<script>
window.onpopstate = function(event) {
      // if (event.state.page === 'state1') {
        WeixinJSBridge.call('closeWindow');
      // }
    }
</script>
{/block}
{block name="js"}
{/block}